# Resend
RESEND_API_KEY=

# Leads DB 
LEADS_REST_KEY=
LEADS_REST_URL=

# Site URL
NEXT_PUBLIC_APP_URL=

# Lemon Squeezy
LEMONSQUEEZY_WEBHOOK_SECRET=
NEXT_PUBLIC_LS_FULL_DB_VARIANT_ID=
NEXT_PUBLIC_LS_STATE_VARIANT_ID=
NEXT_PUBLIC_LS_API_SUBSCRIPTION_VARIANT_ID=
NEXT_PUBLIC_LS_SUBSCRIPTION_VARIANT_ID=

# Send Email
SEND_EMAIL_HOOK_SECRET=

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# IndexNow
INDEXNOW_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

